<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      <%= @situation.name %>
    </div>
</div>
<div class="center_header">
        <ul class="category-lists">
          <li><%= link_to '目的', situation_purposes_path(@situation.id), class: "purpose-list" %></li>
          <li><%= link_to '価値観', situation_values_path(@situation.id), class: "values-list" %></li>
          <li><%= link_to '構想', situation_visions_path(@situation.id), class: "vision-list" %></li>
          <li><%= link_to '目標', situation_goals_path(@situation.id), class: "goal-list" %></li>
          
        </ul>
</div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

<div class="messages">
<%= form_with model: [@situation, @vision], html: {class: "form"}, local: true do |f| %>
  <i>未来年表</i>
  <div>
  <%= f.datetime_field :later%>
  </div>
  <i>タイトル</i>
  <div>
  <%= f.text_field :title  %>
  </div>
  <i>ビジョン</i>
  <div class="form-input">
    <%= f.text_area :text, class: 'form-message', placeholder: 'type a vision' %>
  </div>
  <div>
  <i>実現可能性</i>
  </div>
<%= f.number_field :achievement, min: 0, max: 100 %><i>%</i>
<%= f.submit '送信', class: 'form-submit' %>
<% end %>
<hr>
<h3 class="vision-start">start</h3>
<ul class="flow">
<% @visions.each do |f|%>
<% if f.situation_id == @situation.id  %>
    <li>
        <span class="icon"><%=f.later %></span>
        <dl>
            <dt class="vision-title">
            <%=link_to f.title,"/situations/#{@situation.id}/visions/#{f.id}",method: :delete %>
            (<%= f.achievement %>%)
            </dt>
            <dd>
            <%= f.text %>
            </dd>
        </dl>
    </li>
    <%end%>
<%end%>
</ul>

</div>