<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      <%= @situation.name %>
    </div>
</div>
<div class="center_header">
        <ul class="category-lists">
          <li><%= link_to '目的', situation_purposes_path(@situation.id), class: "purpose-list" %></li>
          <li><%= link_to '価値観', situation_values_path(@situation.id), class: "values-list" %></li>
          <li><%= link_to '構想', situation_visions_path(@situation.id), class: "vision-list" %></li>
          <li><%= link_to '目標', situation_goals_path(@situation.id), class: "goal-list" %></li>
          
        </ul>
</div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
<% @goals.each do |f|%>
<% if f.situation_id == @situation.id  %>
<div class="goal-messages">
<h1 class ="goal-text"><%= f.name %></h1>
<h2>期日<%= f.deadline%></h2>
 <div class="progress-pie-chart" data-percent='21'>
<%=f.progress %>
  <div class="ppc-progress">
    <div class="ppc-progress-fill"></div>
  </div>
   <div class="ppc-percents">
    <div class="pcc-percents-wrapper">
      <span>%</span>
    </div>
   </div>
 </div>
</div>
<hr>
<%end%>
<%end%>
<div class ="form-goal">
<%= form_with model: [@situation, @goal], html: {class: "form"}, local: true do |f| %>
<i>目標を記入</i>
  <div class="form-input">
    <%= f.text_area :name, class: 'form-message', placeholder: 'type a goal' %>
  </div>
  <i>期日</i>
   <div>
  <%= f.datetime_field :deadline%>
  </div>
  <i>現在の進捗率</i>
  <%= f.number_field :progress, min: 0, max: 100 %><span>%</span>
  <%= f.submit '送信', class: 'form-submit' %>
<%end%>
</div>